.page > .story-header {
	border-bottom: 1px solid #eee;
}

.page > .story {
	contain: paint;
}

.page > .story > .factory {
	border: 1px dotted #ccc;
	background: #eee;

	font-size: 0.8em;
	padding: 1em;

	text-align: center;
}

.page > .story > .missing {
	padding: 0.8em;
	background: repeating-linear-gradient(
		45deg,
		rgba(0, 0, 0, 0.2),
		rgba(0, 0, 0, 0.2) 10px,
		rgba(0, 0, 0, 0.3) 10px,
		rgba(0, 0, 0, 0.3) 20px
	);
}