html, body {
	margin: 0;
	padding: 0;

	line-height: 1.2;
	color: #333333;
	background: #f1f1f1;
}

html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body {
	overflow-scrolling: touch;
	-webkit-overflow-scrolling: touch;
}

* {
	box-sizing: border-box;
}

:root {
	--header-height: 2rem;
	--tool-height: 1.2rem;
	--main-margin: 0.5rem;
	--main-padding: 0.5rem;

	--selection-color: #9dd464;
	
	--animation-speed: 0.15s;
}

body {

}

.wiki {
	display: block;
	position: fixed;
	top: 0; left: 0; right: 0; bottom: 0;
}

.header {
	position: absolute;
	display: block;
	contain: strict;
	top: 0; left: 0; right: 0;
	
	height: var(--header-height);
	line-height: var(--header-height);
	padding: 0 var(--main-padding);

	background: #eee;
	border-bottom: 1px solid #ccc;
}

.search {
	
}

.search-input {
	width: 30em;
}

.search > button {
	font-variant: small-caps;
}

.stages {
	position: absolute;
	display: flex;
	flex-flow: row;
	flex-wrap: nowrap;
	contain: strict;

	top: var(--header-height);
	left: 0; right: 0; bottom: 0;

	overflow-x: scroll;
	overflow-y: hidden;

	background: #f1f1f1;
}

.stage {
	position: relative;
	flex: 0 0 auto;
	display: block;

	padding: calc(0.5 * var(--main-padding));
	margin: calc(0.5 * var(--main-padding));
	padding-top: 2px;

	width: 25em;
	max-width: 100%;
	height: calc(100% - var(--main-padding));

	background: #fff;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
	border-radius: 2px;

	border-top: 4px solid transparent;
}
.stage.selected {
	border-top: 4px solid var(--selection-color);
}

.stage > .status {
	display: flex;
	height: var(--tool-height);
	line-height: var(--tool-height);
	font-size: calc(0.6 * var(--tool-height));
}

.status > .url {
	flex: 1;
	color: #333;
}

.status > .icon {
	display: block;
	height: var(--tool-height);
	
	margin: 0 6px;
	padding: 0 6px;

	text-align: center;

	background: #fff;
	transition: background var(--animation-speed) ease-in-out;
	
	border: 1px solid #ddd;
	border-bottom: 0;

	border-radius: 2px 2px 0 0;
	cursor: pointer;
}
.status > .icon:first-child {
	margin-left: 0;
}

.status > .icon:hover {
	background: #eee;
}

.page {
	border-top: 1px solid #ddd;
	padding: var(--main-padding);
	height: calc(100% - var(--tool-height));

	overflow-x: hidden;
	overflow-y: auto;
}

.page > .title {
	margin-top: 0.5em;
	font-size: 1.8em;
}

.page > .story {
	contain: paint;
}

.overflow-bottom {
	background: linear-gradient(0deg, #ccc, transparent 10px);
}
.overflow-top {
	background: linear-gradient(180deg, #ccc, transparent 10px);
}
.overflow-bottom.overflow-top {
	background:
		linear-gradient(0deg, #ccc, transparent 10px),	
		linear-gradient(180deg, #ccc, transparent 10px);
}